

<div class="user-form">
  <form action="/team/<%= @team.id %>/edit" method="POST">
    <input type="hidden" name="_method" value="PUT">
    Team Name: <input type="text" name="team[name]" value= "<%= @team.name %>"><br>
    <input type="submit" value="Update"><br>
  </form>

  <table id="my_table">
    <tr>
      <th>Player Name</th>
      <th>Position </th>
      <th>Point Average</th>
    </tr>
    <% @team.players.each do |player| %>
    <tr>
      <td> <%= player.name  %> </td>
      <td> <%= player.position  %> </td>
      <td> <%= player.average  %> </td>
    </tr>
    <% end %>
  </table>

  <form id="add_player" action="/team/<%= @team.id %>/player" method="POST">
    <select name="player[id]"> <% @available.each do |player| %>
    <option value="<%=player.id %>"> <%= player.name %> <%= player.position %> <%= player.average %> </option>
    <% end %>
  </select>

  <input id="player_submit" type="submit" value="Add Player">
</form>

  <form id="add_drop" action="/team/<%= @team.id %>/player" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <select name="player[id]"> <% @team.players.each do |player| %>
    <option value="<%=player.id %>"> <%= player.name %> <%= player.position %> <%= player.average %> </option>
    <% end %>
  </select>

  <input id="player_submit" type="submit" value="Drop Player">
</form>

<form action="/team/<%= @team.id %>" method="POST" class="user-form">
  <input type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete Team">
</form>
</div>