<div>

  <h2> <%= @team.name %> </h2>
  <h2> Owner: <%= User.find(@team.user_id).name %> </h2>
  <h2> Joined League: <%= @team.created_at %> </h2>

 <table>
  <tr>
   <th>Player Name</th>
   <th>Position </th>
   <th>Point Average</th>
  </tr>
  <% @team.players.each do |player| %>
  <tr>
    <td> <%= player.name  %> </td>
    <td> <%= player.position  %> </td>
    <td> <%= player.average  %> </td>
  </tr>
   <% end %>
 </table>
</div>

<% if ( (current_user != nil) && (current_user.id == User.find(@team.user_id).id) )%>
<a href="/team/<%= @team.id %>/edit" >Edit Info </a>
<% end %>