
<div id="welcome-table">

  <table>
    <tr>
      <th>Team Name</th>
      <th>Owner </th>
    </tr>

    <% @teams.each do |team| %>
    <tr>
      <td> <a href="/team/<%=team.id %>"> <%= team.name  %> </td>
      <td> <a href="/user/<%=team.user.id%>"> <%= team.owner  %> </td>
    </tr>
    <% end %>
  </table>


  <% if current_user && !current_user_has_team? %>
    <a href="/team/new"> Create a Team! </a>

  <% elsif current_user %>
    <a href="/team/<%= current_user.team.id %>/edit "> Edit the <%= current_user.team.name  %> </a>
  <% end %>

</div>